<div class="{{classes}}" data-courseid="{{courseid}}" data-type="{{type}}">
    <div class="info">
        {{{courselink}}}
        {{{moreinfo}}}
        {{{enrolmenticons}}}
    </div>
    <div class="content">
        {{{content}}}
    </div>
</div>